:root{
    --color1: #080B12;
    --color2: #141922;
    --color3: #74767B;
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif, Arial;
}

img{
    display: block;
    width: 100%;
}

.flex{
    display: flex;
}

.col-1-4{
    flex-basis: 25%;
}

.col-1-2{
    flex-basis: 50%;
}

.mrg-v-auto{
    margin: auto 0;
}

.txt-center{
    text-align: center;
}

.txt-left{
    text-align: left;
}

.txt-right{
    text-align: right;
}



/**** UPPER SECTION ****/
.container{
   flex-grow: 1;
    display: flex;
}

/* sidebar */
.sidebar{
    width: 60px;
    flex-shrink: 0;
    background-color: black; /* for visual */

}

/* main */
.main-section{
    flex-grow: 1;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.upper-bar{
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
    background-color: var(--color1);
    
}
.upper-bar a{
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 50px;
    margin: 1rem .5rem;
    text-transform: uppercase;
    padding: .5rem 2rem;
    font-size: small;
    flex-shrink: 0;
}


.content-section{
    background-color: var(--color2);
    overflow: scroll;  
    flex-grow: 1;
}

.content-menu{
    background-color: var(--color2);
    color: var(--color3);
}

.content-section ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 1rem;
    padding: .5rem;
}

.content-section ul li{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: small;
}



.recent-container{
    display: flex;
    flex-wrap: wrap;
}

.personal-container{
    display: flex;
    padding-top: 1rem;
}
.sidebar{
    color: white;
    display: flex;
    flex-direction: column;
}

.sidebar-section{
    flex-grow: 1;
    padding: .5rem;
    background-color: aqua; /* for visual */
    overflow: auto;
}

.plist-item{
    display: none;
}

.user{
    flex-shrink: 0;
    padding: 0 .5rem;
}


/**** TOOLBAR ****/
.toolbar{
    height: 100px;
    flex-shrink: 0;
    background-color: gray; /* for visual */
    display: flex;
    justify-content: space-between;
}

